<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- CONTEÚDO DO HEAD -->
    <%- include('../partials/head'); %>

    <title>Doar</title>
    <!-- CSS DA PÁGINA DE DOAÇÃO -->
    <link rel="stylesheet" type="text/css" href="stylesheet/doar.css">
</head>

<body>
    <header>
        <!-- BARRA DE NAVEGAÇÃO -->
        <%- include('../partials/header'); %>
    </header>

    <section class="home">

        <h1 class="title">Materiais escolares</h1>
        <p class="subtitle">Confira os itens mais solicitados</p>

        <aside id="pesquisa">
            <form action="/pesquisa" method="GET" class="form-inline my-2 my-lg-0">

                <div class="form-group search">
                    <select class="form-control mx-auto" name="q" id="search">
                        <option value="" disabled selected hidden>Escolha o material</option>
                        <% for (material of materialEscolar) {%>
                        <option value="<%= material.db %>"><%= material.nome %></option>
                        <% } %>
                    </select>
                </div>

                <button class="btnVerTodos btn-primary mx-3" type="submit">Pesquisar</button>
            </form>
        </aside>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <!-- CARD DE ALUNO -->
                    <% for (aluno of alunos) {%>
                    <div class="col my-3">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <p class="card-text"> Nome do Aluno: <strong><%= aluno.nomeAluno %>
                                        <%= aluno.sobrenomeAluno %></strong> <br>
                                    Escola: <strong><%= aluno.escola %></strong>
                                </p>
                                <div class="d-flex justify-content-center">
                                    <div class="btn-group">
                                        <a href="/doar"><button class="btn btnTransp card-btn mx-auto">Saiba mais</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <br>
                    <% } %>
                </div> <br>
                        <button type="submit" class="btnVerTodos btn-primary mx-auto" id="cadastro">Ver todos</button>
                        <br>
                        <button class="btn btnTransp card-btn mx-auto">VOLTAR</button>
            </div>
        </div>
        <div id="seja-doador" class="block py-5">
            <div class="container ">
                <div class="block-text">
                    <h1 class="title">Pontos de coleta</h1>
                    <p class="subtitle">Escolha o ponto mais próximo de você</p>
                </div>
                <div class="row mt-5 cards">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5 my-4">
                        <div class="card pink">
                            <img src="/img/escola.png" alt="" class="img-fluid">
                            <div class="card-body">
                                <h5 class="card-title">Escola Municipal Ivanira</h5>
                                <p class="card-text">Escola voluntária em arrecadação de materiais.</p>
                                 <a href="/doar"><button class="btn btnTransp card-btn mx-auto">Saiba mais</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 my-4">
                            <div class="card pink">
                                <img src="/img/loja.png" alt="" class="img-fluid">
                                <div class="card-body">
                                    <h5 class="card-title">Comercial Other Place</h5>
                                    <p class="card-text">Loja de livros que apoia o nosso programa.</p>
                                     <a href="/doar"><button class="btn btnTransp card-btn mx-auto">Saiba mais</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <button type="submit" class="btn btnTransp card-btn mx-auto" id="cadastro">Ver todos</button>
       </section>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
</body>

</html>