<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- CONTEÚDO DO HEAD -->
    <%- include('../partials/head'); %>

    <title>Doar</title>
    <!-- CSS DA PÁGINA DE DOAÇÃO -->
    <link 
        rel="stylesheet" 
        type="text/css" 
        href="stylesheet/doar.css"
    >
</head>

<body>
    <header>
        <!-- BARRA DE NAVEGAÇÃO -->
        <%- include('../partials/header'); %>
    </header>

    <section class="home">

        <h1>Resultado da Pesquisa</h1>

        <aside id="pesquisa">
            <form action="/pesquisa" method="GET" class="form-inline my-2 my-lg-0">

                <div class="form-group">
                    <label for="exampleFormControlSelect2">Buscar por...</label>
                        <select class="form-control form-control mr-sm-2" name="qType">
                            <option value="escola">Nome Escola</option>
                            <option value="tipoMaterial">Material</option>
                        </select>
                </div> <br>

                    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" name="q">


                     <!-- *PESQUISA POR CIDADE* <input type="text" class="form-control" placeholder="Cidade">

                        *PESQUISA POR ESTADO* <select id="estado" class="form-control custom-select" name="aluno[estado]" required>
                            <option value="" disabled selected hidden>Estado</option>
                        </select>  -->


                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
            </form>
        </aside>

        <div class="album py-5 bg-light">
            <div class="container">
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                  <!-- CARD DE FOTO DE ALUNO -->
                  <% for (aluno of alunos) {%> 
                    <div class="col">
                      <div class="card shadow-sm">
                          <div class="card-body">
                              <p class="card-text">   Nome do Aluno: <%= aluno.nomeAluno %>  <%= aluno.sobrenomeAluno %> . <br>
                                                      Escola: <%= aluno.escola %> </p>
                              <div class="d-flex justify-content-between align-items-center">
                                  <div class="btn-group">
                                      <button type="button" class="btn btn-sm btn-outline-secondary">Ver mais informações</button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <% } %>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
       integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
</body>

</html>