<!DOCTYPE html>
<html lang="pt-br">

<head>
  <!-- CONTEÚDO DO HEAD -->
  <%- include('../partials/head'); %>

  <link rel="stylesheet" type="text/css" href="/stylesheet/solicite-doacao.css">
  <link href='https://fonts.googleapis.com/css?family=Mulish' rel='stylesheet'>
  <title>Solicite uma Doação</title>
</head>

<body>
  <header>
    <!-- BARRA DE NAVEGAÇÃO -->
    <%- include('../partials/header'); %>
  </header>
  <section class="container mt-5">
    <div class="row">
      <div class="m-auto">
        <form action="/aluno/solicitar-doacao" method="POST" class="form-border my-5 needs-validation" novalidate>
          <h1 class="display-5 mt-0">Solicitar material escolar</h1>
          <div class="form-group row">
            <div class="col-md-6">
              <label for="tipoMaterial">Tipo de material</label>
              <select id="tipoMaterial" class="form-control custom-select" name="listaMaterial[tipoMaterial]" required>
                <option value="" disabled selected hidden>Escolha o material</option>
                <% for (material of materialEscolar) {%> 
                  <option value="<%= material.db %>"><%= material.nome %></option>
                <% } %> 
              </select>
            </div>
            <div class="col-md-6">
              <label for="qntMaterial">Quantidade</label>
              <input type="number" class="form-control" id="qntMaterial" placeholder="Quantidade" name="listaMaterial[qntMaterial]" required>
            </div>
          </div>
          <div class="form-group">
            <label for="materialDesc">Descrição do Material</label>
            <textarea name="listaMaterial[materialDesc]" id="materialDesc" cols="30" rows="10" class="form-control" required></textarea>
          </div>
          <div class="row">
            <div class="col text-center">
              <button type="submit" class="btnInc btn-primary my-3" id="cadastro">Incluir Material</button>
            </div>
          </div>
          <div class="text-center">
            <a href="/dashboard" class="btn btn-primary btnVoltar">Voltar</a>
          </div>
        </form>
      </div>
    </div>

  </section>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  <script src="/js/formValidation.js"></script>
</body>

</html>